div{
  background-repeat:no-repeat;
  background-size: cover;
}

.section6{
  color: white;
  background-color: white;
}

.section0{
  margin-top: 0%;
  margin-left: 0%;
  color: white;
  max-width: 100%;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}
.menubar{
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4 item5";
  grid-column-gap: 15%;
  list-style: none;
  top: 30%;
  padding-left: 30%;
  padding-right: 20%;
  padding-top: 3.5%;
  max-width: 100%;
  max-height: 100%;
}
#item1{
  grid-area: item1;
}
#item2{
  grid-area: item2;
}
#item3{
  grid-area: item3;
}
#item4{
  grid-area: item4;
}
#item5{
  grid-area: item5;
  padding-left: 100%;
}
.itemstyle{
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  color: white;
}
a:active, a:visited, a:link, a:active{
  color: inherit;
  text-decoration: none;
}

#pageimg{
  position: absolute;
  width: 100%;
}
#header{
  position: absolute;
  top: 50%;
  left: 7%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
}
.headerbutton{
  position: absolute;
  top: 80%;
  left: 7%;
  text-align: center;
}
#headerbutton{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;
  border-style: hidden;
  max-width: 8vw;
  width: 8vw;
  text-transform: uppercase;
  max-height: 6vw;
  height: 6vh;
  background-color: #FF9900;
}

#logo{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: white;
  top:4%;
  left: 7%;
}

.section1{
  background-color: white;
  color: black;
}
#subheader1{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
  left: 7%;
}
#subheader1paragraph{
  margin-left: 50%;
  margin-top: 11%;
  width: 30vw;
  max-width: 30vw;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.5em;
  text-align: left;
}
.subheaderside{
  display: grid;
  grid-template-areas:
    "subheaderlist1 subheaderlist4"
    "subheaderlist1 subheaderlist4"
    "subheaderlist2 subheaderlist5"
    "subheaderlist3 subheaderlist6"
    "..... subheaderlist7";
  grid-row: auto auto auto auto auto;
  grid-column: auto auto;
  list-style: none;
  margin-top: 5%;
  margin-left: 48%;
  margin-top: 5%;
  margin-left: 48%;
  font-size: 1.2em;
  list-style: none;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
}
#subheaderlist1{
  grid-area: subheaderlist1;
  grid-row: 1/2;
}
#subheaderlist2{
  grid-area: subheaderlist2;
  padding-top:5%;
}
#subheaderlist3{
  grid-area: subheaderlist3;
}
#subheaderlist4{
  grid-area: subheaderlist4;
  grid-row: 1/2;
}
#subheaderlist5{
  grid-area: subheaderlist5;
  padding-top: 5%;
}
#subheaderlist6{
  grid-area: subheaderlist6;
}
#subheaderlist7{
  grid-area: subheaderlist7;
}


.section2{
  background-image: url(section2background.jpg);
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin-top: 12%;
  color: white;
}
#subheader2{
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  margin-left: 7%;
  padding-top: 23%;
  color: inherit;
  letter-spacing: 10%;
}
#subheader2button{
  font-size: 1.2em;
  border-style: none;
  color:  #FF9900;
  margin-left: 7%;
  text-decoration: underline;
  text-decoration-color:  #FF9900;
  text-transform: uppercase;
}

.section3{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-align: left;
  margin-left: 7%;
  margin-top: 12%;
  max-width: 23%;
}

.section4{
  background-image: url(section4background.jpg);
  max-width: 100%;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin-top: 14%;
  color: white;
}
#subheader4{
  padding-top: 20%;
  padding-left: 7%;
  font-size: 4em;
}
#subheader4button{
  font-size: 1.2em;
  color: inherit;
  color:  #FF9900;
  margin-left: 7%;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color:  #FF9900;
  text-transform: uppercase;
}



.subheader5button{
  text-align: right;
  margin-right: 10%;
  margin-top: 10%;
  word-spacing: 15%;
}
#subheader5button{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-style: hidden;
  border-left-width: 20vw;
  max-width: 9vw;
  width: 9vw;
  max-height: 7vw;
  height: 7vh;
  word-spacing: 35%;
  background-color: #FF9900;
  text-transform: uppercase;
}
.subheadermenu{
  display: grid;
  grid-template-areas:
    "header header"
    "time1 day1"
    "time2 day2";
  grid-column: auto auto;
  grid-row: auto auto;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  grid-row-gap: 20%;
  grid-column-gap: 0%;
  width: 20%;
  margin-left: 7%;
  text-align: center;
}
#subheader5{
  grid-area: header;
  grid-row: 1/2;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-left: 7%;
  margin-top: 10%;
  text-align: left;
}
#time1{
  grid-area: time1;
  margin-top: 20%;
}
#time2{
  grid-area: time2;
}
#day1{
  grid-area: day1;
  margin-top: 20%;

}
#day2{
  grid-area: day2;
}
.footer{
  display: grid;
  grid-template-areas:
    "TC W";
  margin-top: 10%;
  max-width: 15%;
  margin-left: 45%;
  grid-row: auto;
  grid-column: auto;
  text-align: center;
  margin-bottom: 5%;
  font-size: 1.5em;
  font-family: 'Cormorant Garamond', serif;
}
#TC{
  grid-area: TC;
}
#W{
  grid-area: W;
}
