div {
    background-repeat: no-repeat;
    background-size: cover;
}
.section6 {
    color: white;
    background-color: white;
}

.section0 {
    margin-top: 0%;
    margin-left: 0%;
    color: white;
    max-width: 100%;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}
.menubar {
    display: grid;
    grid-template-areas: "item0 item1 item2 item3 item4 item5";
    list-style: none;
    padding-top: 5%;
}
#item0 {
    grid-area: item0;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
#item1 {
    grid-area: item1;
}
#item2 {
    grid-area: item2;
}
#item3 {
    grid-area: item3;
}
#item4 {
    grid-area: item4;
}
#item5 {
    grid-area: item5;
}
.itemstyle {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: white;
    max-width: 100%;
    width: 100%;
    word-spacing: 5em;
}

a:active,
a:visited,
a:link,
a:active {
    color: inherit;
    text-decoration: none;
}
#pageimg {
    position: absolute;
    width: 100%;
}
#header {
    position: absolute;
    top: 50%;
    left: 7%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
}
#headerbutton {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    position: absolute;
    top: 80%;
    left: 7%;
    text-align: center;
}

.section1 {
    margin-top: 20%;
    background-color: white;
    color: black;
}
#subheader1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    left: 7%;
}
#subheader1paragraph {
    margin-left: 50%;
    margin-top: 11%;
    width: 30vw;
    max-width: 30vw;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5em;
    text-align: left;
}

.subheaderside {
    display: grid;
    grid-template-areas: "subheaderlist1 subheaderlist4" "subheaderlist1 subheaderlist4" "subheaderlist2 subheaderlist5" "subheaderlist3 subheaderlist6" "..... subheaderlist7";
    grid-row: auto auto auto auto auto;
    grid-column: auto auto;
    list-style: none;
    margin-top: 5%;
    margin-left: 48%;
    margin-top: 5%;
    margin-left: 48%;
    font-size: 1.2em;
    list-style: none;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}
#subheaderlist1 {
    grid-area: subheaderlist1;
    grid-row: 1/2;
}
#subheaderlist2 {
    grid-area: subheaderlist2;
    padding-top: 5%;
}
#subheaderlist3 {
    grid-area: subheaderlist3;
}
#subheaderlist4 {
    grid-area: subheaderlist4;
    grid-row: 1/2;
}
#subheaderlist5 {
    grid-area: subheaderlist5;
    padding-top: 5%;
}
#subheaderlist6 {
    grid-area: subheaderlist6;
}
#subheaderlist7 {
    grid-area: subheaderlist7;
}
.index {
    z-index: 10;
}

.section2 {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin-top: 12%;
    color: white;
}
#section2img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}
#subheader2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin-left: 7%;
    color: inherit;
    margin-top: -25%;
    letter-spacing: 10%;
}
#subheader2button {
    position: absolute;
    font-size: 1.8em;
    border-style: none;
    color: #FF9900;
    margin-left: 8%;
    text-decoration: underline;
    text-decoration-color: #FF9900;
    text-transform: uppercase;
}

.section3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-align: left;
    margin-left: 7%;
    margin-top: 12%;
    max-width: 30%;
}
#subheader3 {
    font-size: 1.5em;
}

.section4 {
    max-width: 100%;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin-top: 14%;
    color: white;
}
#section4img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}
#subheader4 {
    padding-top: 20%;
    padding-left: 7%;
    font-size: 4em;
    margin-top: -45%;
}
#subheader4button {
    position: absolute;
    font-size: 1.2em;
    color: inherit;
    color: #FF9900;
    margin-left: 7%;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #FF9900;
    text-transform: uppercase;
}

.subheader5button {
    text-align: right;
    margin-right: 10%;
    margin-top: 10%;
    word-spacing: 15%;
}
#subheader5button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    max-width: 13vw;
    width: 13vw;
    max-height: 11vw;
    height: 9vh;
    word-spacing: 35%;
    text-transform: uppercase;
}

.subheadermenu {
    display: grid;
    grid-template-areas: "header header" "time1 day1" "time2 day2";
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    grid-row-gap: 20%;
    width: 60%;
    text-align: center;
    align-content: start;
    margin-top: -10%;
    margin-left: -10%;
}
#subheader5 {
    grid-area: header;
    grid-row: 1/2;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 20%;
    margin-top: 10%;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 15px;
}
#time1 {
    margin-left: 65%;
    grid-area: time1;
    width: 30%;
}
#time2 {
    margin-left: 65%;
    grid-area: time2;
    width: 30%;
}
#day1 {
    grid-area: day1;
    width: 30%;
}
#day2 {
    grid-area: day2;
    width: 30%;
}

.footer {
    display: grid;
    grid-template-areas: "TC W";
    margin-top: 20%;
    max-width: 25%;
    margin-left: 40%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', serif;
    border-style: none;
}
#TC {
    grid-area: TC;
}
#W {
    grid-area: W;
}
@media only screen and (max-width: 480px) {
    #pageimg {
        position: absolute;
        width: 100%;
        height: 70%;
        left: 0%;
        max-height: 80%;
    }
    #header {
        position: absolute;
        left: 0%;
        top: 50%;
        color: white;
        left: 7%;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }
    .itemstyle {
        position: relative;
        display: inline-block;
        top: 0%;
        left: 0%;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: white;
        z-index: 0;
        max-width: 100%;
        width: 30%;
        height: 70%;
        background-color: #FF9900;
        overflow: auto;
    }
    .itemlisting {
        display: none;
        position: absolute;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        /* Sidebar links */
        .itemstyle a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }
        /* Active/current link */
        .itemstyle a.active,
        .itemstyle a:hover:not(.active) {
            color: white;
        }
        #item0 {
            grid-area: item0;
            margin-left: 4%;
            font-family: 'Roboto', sans-serif;
            font-size: 1vw;
        }
        #item1 {
            grid-area: item1;
            margin-left: 12%;
        }
        #item2 {
            grid-area: item2;
            margin-left: 7%;
        }
        #item3 {
            grid-area: item3;
            margin-left: 7%;
        }
        #item4 {
            grid-area: item4;
            margin-left: 7%;
        }
        #item5 {
            grid-area: item5;
            margin-left: 7%;
        }
